:host {}

.examples-list {
  width: 100%;
  padding: 0px 0 8px 0;
  border-radius: 4px; //background-color: rgba(0,0,0,0.1);
  //border-right: 1px rgba(0,0,0,0.2) solid;
  .mat-nav-list {
    padding-top: 0px !important;
  }
  /deep/ .mat-select-underline {
    display: none;
    background-color: none;
    height: 0px;
  }
  .selected {
    //background-color: rgba(0, 0, 0, 0.1);
  }
  .mat-icon {
    margin-right: 24px;
    margin-left: 4px;
    //color: rgba(0, 0, 0, 0.54);
  }
  /deep/ .mat-list-item-content {
    height: 48px !important;
  }
  h3 {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
