<div class="pip-multi-tiles-container">
  <div style="width: 100%; height: 30px; background: lightgreen; font-family: Roboto"><h4>First title</h4></div>
  <pip-tiles [isMobile]="media.isActive('lt-md')">
    <!--div type="first" class="pip-tile" *ngFor="let tile of tiles">
        {{ tile.title }}
    </div-->
    <div class="pip-tile" *ngFor="let tile of tiles">
      {{ tile.title }}
    </div>
  </pip-tiles>
  <div style="width: 100%; height: 30px; background: #00FBFF; font-family: Roboto"><h4>Second title</h4></div>
  <pip-tiles columnWidth="200" [isMobile]="media.isActive('xs')">
        <!--div type="first" class="pip-tile" *ngFor="let tile of tiles">
            {{ tile.title }}
        </div-->
        <div class="pip-tile pip-tile-narrow" *ngFor="let tile of tiles">
          {{ tile.title }}
        </div>
    </pip-tiles>
</div>
