<div fxLayout="row" fxLayout.lt-sm="column">
  <div>[lt-sm]</div>
  <div>[B]</div>
  <div>[C]</div>
</div>

<div fxLayout="row" fxLayout.xs="column">
  <div>[xs]</div>
  <div>[B]</div>
  <div>[C]</div>
</div>

<div [fxShow]="media.isMainActive('document-lt-lg')">
  {{ 'PAGE.FX.LT1250_1' | translate }}
</div>

<div fxHide fxShow.document-lt-lg>
  {{ 'PAGE.FX.LT1250_2' | translate }}
</div>

<div fxflex fxLayout="column">
  <div ngClass.lt-sm="underline">{{ 'PAGE.FX.LTSMU' | translate }}</div>
  <div fxFlexOffset.lt-sm="50px">{{ 'PAGE.FX.LTSMO' | translate }}</div>
</div>

<table border="1" frame="void" rules="all">
  <tr>
    <th>{{ windowSize }}</th>
    <th *ngFor="let bp of bps" [ngClass]="{'primary-background': fxMedia.isActive(bp.mediaQuery)}">{{ bp.alias }}</th>
  </tr>
  <tr>
    <td>fxShow</td>
    <td *ngFor="let bp of bps">
      <mat-icon fxHide [fxShow]="fxMedia.isActive(bp.mediaQuery)" color="primary">visibility</mat-icon>
    </td>
  </tr>
  <tr>
    <td>fxShow.</td>
    <td><mat-icon color="primary" fxHide fxShow.xs>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.sm>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.md>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.lg>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.xl>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.lt-sm>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.lt-md>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.lt-lg>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.lt-xl>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.gt-xs>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.gt-sm>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.gt-md>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.gt-lg>visibility</mat-icon></td>
    <td><mat-icon color="primary" fxHide fxShow.document-lt-lg>visibility</mat-icon></td>
  </tr>
  <tr>
    <td>fxHide</td>
    <td *ngFor="let bp of bps"><mat-icon [fxHide]="fxMedia.isActive(bp.mediaQuery)">visibility_off</mat-icon></td>
  </tr>
  <tr>
    <td>fxHide.</td>
    <td><mat-icon fxHide.xs>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.sm>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.md>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.lg>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.xl>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.lt-sm>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.lt-md>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.lt-lg>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.lt-xl>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.gt-xs>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.gt-sm>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.gt-md>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.gt-lg>visibility_off</mat-icon></td>
    <td><mat-icon fxHide.document-lt-lg>visibility_off</mat-icon></td>
  </tr>
  <tr>
    <td>mainActive</td>
    <td *ngFor="let bp of bps"><mat-icon color="primary" fxHide [fxShow]="media.isMainActive(bp.alias)">visibility</mat-icon></td>
  </tr>
</table>
