mat-sidenav.pip-sidenav {
  max-width: 250px;
  width: 250px;
  background-color: rgb(238, 238, 238);
  transition: all 0.3s ease;
  overflow-x: hidden;
}

:host ::ng-deep mat-sidenav-content {
  transition: all 0.3s ease;
  display: flex;
  margin-left: 250px !important;
}

.pip-sidenav-container {
  display: block;
  height: 100%;
}

// Out main
::ng-deep .pip-md {
  .pip-sidenav-desktop-container.pip-small {
    mat-sidenav.pip-sidenav {
      max-width: 64px;
      width: 64px;
      min-width: 64px;
    }
     ::ng-deep mat-sidenav-content {
      margin-left: 64px !important;
    }
  }
}

:host {
  height: 100%;
  .mat-drawer.mat-drawer-end {
    width: 250px;
  }
}

::ng-deep .pip-sm {
  .pip-sidenav-desktop-container {
    mat-sidenav.pip-sidenav {
      max-width: 64px;
      width: 64px;
      min-width: 64px;
    }
    mat-sidenav-content {
      margin-left: 64px !important;
    }
  }
}

::ng-deep .pip-xs {
  .pip-sidenav-desktop-container {
    mat-sidenav.pip-sidenav {
      max-width: 0px;
      width: 0px;
      min-width: 0px;
    }
    mat-sidenav-content {
      margin-left: 0px !important;
    }
  }
}

// In main
::ng-deep .pip-main-md .pip-main {
  .pip-sidenav-desktop-container.pip-small {
    mat-sidenav.pip-sidenav {
      max-width: 64px;
      width: 64px;
      min-width: 64px;
    }
     ::ng-deep mat-sidenav-content {
      margin-left: 64px !important;
    }
  }
}

 :host {
  height: 100%;
}

 ::ng-deep .pip-main-sm .pip-main {
  .pip-sidenav-desktop-container {
    mat-sidenav.pip-sidenav {
      max-width: 64px;
      width: 64px;
      min-width: 64px;
    }
    mat-sidenav-content {
      margin-left: 64px !important;
    }
  }
}

 ::ng-deep .pip-main-xs .pip-main {
  .pip-sidenav-desktop-container {
    mat-sidenav.pip-sidenav {
      max-width: 0px;
      width: 0px;
      min-width: 0px;
    }
    mat-sidenav-content {
      margin-left: 0px !important;
    }
  }
}
