<!-- <div fxLayout="row" fxLayoutAlign="center " fxLayout.lt-md="column" fxLayoutGap="16px">
    <div [formGroup]="sidenavOptions" *ngIf="sidenavOptions">
        <h2> {{ 'PAGE.NAVIGATION.SIDENAV' | translate }} </h2>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_PLACEMENT' | translate }}</mat-label>
                <mat-select formControlName="placement">
                    <mat-option *ngFor="let p of sidenavPlacements" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_MODE' | translate }}</mat-label>
                <mat-select formControlName="mode">
                    <mat-option *ngFor="let m of modes" [value]="m">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_TOP_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="top">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_BOTTOM_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="bottom">
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle formControlName="fixed">
                {{ 'PAGE.NAVIGATION.SIDENAV_FIXED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapseable">
                {{ 'PAGE.NAVIGATION.SIDENAV_COLLAPSEABLE' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapsed">
                {{ 'PAGE.NAVIGATION.SIDENAV_COLLAPSED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="opened">
                {{ 'PAGE.NAVIGATION.SIDENAV_OPENED' | translate }}
            </mat-slide-toggle>
        </div>
    </div>
    <div [formGroup]="rightnavOptions" *ngIf="rightnavOptions">
        <h2> {{ 'PAGE.NAVIGATION.RIGHTNAV' | translate }} </h2>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_PLACEMENT' | translate }}</mat-label>
                <mat-select formControlName="placement">
                    <mat-option *ngFor="let p of rightnavPlacements" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_MODE' | translate }}</mat-label>
                <mat-select formControlName="mode">
                    <mat-option *ngFor="let m of modes" [value]="m">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_TOP_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="top">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_BOTTOM_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="bottom">
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle formControlName="fixed">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_FIXED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapseable">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_COLLAPSEABLE' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapsed">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_COLLAPSED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="opened">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_OPENED' | translate }}
            </mat-slide-toggle>
        </div>
    </div>
</div> -->
<div fxLayout="row" fxLayoutAlign="center " fxLayout.lt-md="column" fxLayoutGap="16px">
    <div *ngIf="sidenavContext$ | async as sctx" [formGroup]="sidenavForm">
        <h2 fxLayoutAlign=" center">
            {{ 'PAGE.NAVIGATION.SIDENAV' | translate }}
            <div fxFlex="1 1 auto"></div>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_VIEW' | translate }}</mat-label>
                <mat-select [value]="sctx.view" (selectionChange)="changeSidenavView($event.value)">
                    <mat-option *ngFor="let view of sctx.views" [value]="view">
                        {{ view }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button *ngIf="sctx.collapseable" (click)="toggleSidenavCollapse()">
                <mat-icon>{{ sctx?.collapsed ? 'unfold_more' : 'unfold_less' }}</mat-icon>
            </button>
            <button mat-icon-button [color]="sctx?.opened ? 'primary' : undefined" (click)="toggleSidenav()">
                <mat-icon>visibility</mat-icon>
            </button>
        </h2>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_PLACEMENT' | translate }}</mat-label>
                <mat-select formControlName="placement">
                    <mat-option *ngFor="let p of sidenavPlacements" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_MODE' | translate }}</mat-label>
                <mat-select formControlName="mode">
                    <mat-option *ngFor="let m of modes" [value]="m">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_ALIAS' | translate }}</mat-label>
                <mat-select formControlName="alias">
                    <mat-option *ngFor="let a of aliases" [value]="a">
                        {{a}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_TOP_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="top">
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_BOTTOM_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="bottom">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_SIZE' | translate }}</mat-label>
                <input matInput type="number" formControlName="width">
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.SIDENAV_SIZE_COLLAPSED' | translate }}</mat-label>
                <input matInput type="number" formControlName="widthCollapsed">
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle formControlName="fixed">
                {{ 'PAGE.NAVIGATION.SIDENAV_FIXED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapseable">
                {{ 'PAGE.NAVIGATION.SIDENAV_COLLAPSEABLE' | translate }}
            </mat-slide-toggle>
        </div>
    </div>
    <div *ngIf="rightnavContext$ | async as rctx" [formGroup]="rightnavForm">
        <h2 fxLayoutAlign=" center">
            {{ 'PAGE.NAVIGATION.RIGHTNAV' | translate }}
            <div fxFlex="1 1 auto"></div>
            <mat-form-field>
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_VIEW' | translate }}</mat-label>
                <mat-select [value]="rctx.view" (selectionChange)="changeRightnavView($event.value)">
                    <mat-option *ngFor="let view of rctx.views" [value]="view">
                        {{ view }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button *ngIf="rctx.collapseable" (click)="toggleRightnavCollapse()">
                <mat-icon>{{ rctx?.collapsed ? 'unfold_more' : 'unfold_less' }}</mat-icon>
            </button>
            <button mat-icon-button [color]="rctx?.opened ? 'primary' : undefined" (click)="toggleRightnav()">
                <mat-icon>visibility</mat-icon>
            </button>
        </h2>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_PLACEMENT' | translate }}</mat-label>
                <mat-select formControlName="placement">
                    <mat-option *ngFor="let p of rightnavPlacements" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_MODE' | translate }}</mat-label>
                <mat-select formControlName="mode">
                    <mat-option *ngFor="let m of modes" [value]="m">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_ALIAS' | translate }}</mat-label>
                <mat-select formControlName="alias">
                    <mat-option *ngFor="let a of aliases" [value]="a">
                        {{a}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_TOP_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="top">
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_BOTTOM_GAP' | translate }}</mat-label>
                <input matInput type="number" formControlName="bottom">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_SIZE' | translate }}</mat-label>
                <input matInput type="number" formControlName="width">
            </mat-form-field>
            <mat-form-field fxFlex="grow">
                <mat-label>{{ 'PAGE.NAVIGATION.RIGHTNAV_SIZE_COLLAPSED' | translate }}</mat-label>
                <input matInput type="number" formControlName="widthCollapsed">
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle formControlName="fixed">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_FIXED' | translate }}
            </mat-slide-toggle>
        </div>
        <div>
            <mat-slide-toggle formControlName="collapseable">
                {{ 'PAGE.NAVIGATION.RIGHTNAV_COLLAPSEABLE' | translate }}
            </mat-slide-toggle>
        </div>
    </div>
</div>