@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin document-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    :host.pip-document-layout {
        color: mat-color($foreground, text) !important;
        background: mat-color($background, card);

        /deep/ pip-document-footer {
            border-top: 1px solid mat-color($foreground, divider);
        }
    }

    &.pip-main-document-lt-lg :host.pip-document-layout {
        border-left: 1px solid mat-color($foreground, divider) !important;
        border-right: 1px solid mat-color($foreground, divider) !important;
        box-sizing: border-box;
    }
}

.unicorn-dark-theme {
    @include document-mixin($dark-theme);
}

.candy-theme {
    @include document-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include document-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include document-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include document-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include document-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include document-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include document-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include document-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include document-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include document-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include document-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include document-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include document-mixin($bootbarn-mono-theme);
}

:host.pip-document-layout {
  z-index: 10;
  position: relative;
  display: flex;
  // background: rgb(250, 250, 250) !important;
  // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0NWQ3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTM1NWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
  // background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0, rgba(250, 250, 250, 1) 18%, rgba(250, 250, 250, 1) 19%, rgba(250, 250, 250, 1) 81%, rgba(250, 250, 250, 1) 82%, rgba(242, 241, 241, 1) 100%) !important;
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(254, 254, 254, 1)), color-stop(18%, rgba(250, 250, 250, 1)), color-stop(19%, rgba(250, 250, 250, 1)), color-stop(81%, rgba(250, 250, 250, 1)), color-stop(82%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 241, 241, 1))) !important;
  // background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0, rgba(250, 250, 250, 1) 18%, rgba(250, 250, 250, 1) 19%, rgba(250, 250, 250, 1) 81%, rgba(250, 250, 250, 1) 82%, rgba(242, 241, 241, 1) 100%) !important;
  // background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0, rgba(250, 250, 250, 1) 18%, rgba(250, 250, 250, 1) 19%, rgba(250, 250, 250, 1) 81%, rgba(250, 250, 250, 1) 82%, rgba(242, 241, 241, 1) 100%)!important;
  // background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0, rgba(250, 250, 250, 1) 18%, rgba(250, 250, 250, 1) 19%, rgba(250, 250, 250, 1) 81%, rgba(250, 250, 250, 1) 82%, rgba(242, 241, 241, 1) 100%)!important;
  // background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0, rgba(250, 250, 250, 1) 18%, rgba(250, 250, 250, 1) 19%, rgba(250, 250, 250, 1) 81%, rgba(250, 250, 250, 1) 82%, rgba(242, 241, 241, 1) 100%)!important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  flex: 1 0 100%;
  position: absolute;
  height: calc(100% - 24px);
  left: calc(50% - 480px);
  margin: 0 auto;
  width: 960px;
  max-width: 100%;

  &.pip-with-toolbar {
    margin-top: -64px;
  }

  .pip-document-container {
    width: 100%;
    font-family: Roboto;
    overflow: hidden;
    overflow-y: auto;
    pip-scrollable-content {
        height: 100%;
    }
    /deep/ pip-document-content {
        padding: 16px;
        display: block;
    }

    /deep/ pip-document-footer {
        padding: 16px;
        display: block;
    }
  }
}
