.pip-main-xs,
.pip-main-sm,
.pip-main-md,
.pip-main-document-lt-lg
{
  .pip-document {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
}

.pip-main-sm,
.pip-main-md,
{
  .pip-main-layout:not(.pip-single-content) {
    .pip-content-container {
      .pip-document {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.pip-document {
  -webkit-transition: left .35s ease, width .35s ease;
  -moz-transition: left .35s ease, width .35s ease;
  -ms-transition: left .35s ease, width .35s ease;
  -o-transition: left .35s ease, width .35s ease;
  transition: left .35s ease, width .35s ease;
}


.pip-main-layout {
  &:not(.pip-single-content) {
    .pip-content-container {
      .pip-document {
        left: 0px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        max-width: 960px;
      }
    }
  }
  .pip-content-container {
    .pip-document {
      transition: left 0.35s ease !important;
    }
  }
}

.pip-toolbar-shadow {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
}
