::ng-deep .pip-xs .xs {
    background: black;
    color: white;
}

::ng-deep .pip-sm .sm {
    background: black;
    color: white;
}

::ng-deep .pip-md .md {
    background: black;
    color: white;
}

::ng-deep .pip-lg .lg {
    background: black;
    color: white;
}

::ng-deep .pip-xl .xl {
    background: black;
    color: white;
}

::ng-deep .pip-lt-xl .lt-xl {
    background: black;
    color: white;
}

::ng-deep .pip-lt-lg .lt-lg {
    background: black;
    color: white;
}

::ng-deep .pip-lt-md .lt-md {
    background: black;
    color: white;
}

::ng-deep .pip-lt-sm .lt-sm {
    background: black;
    color: white;
}

::ng-deep .pip-gt-xs .gt-xs {
    background: black;
    color: white;
}

::ng-deep .pip-gt-sm .gt-sm {
    background: black;
    color: white;
}

::ng-deep .pip-gt-md .gt-md {
    background: black;
    color: white;
}

::ng-deep .pip-gt-lg .gt-lg {
    background: black;
    color: white;
}




::ng-deep .pip-main-xs .main-xs {
    background: black;
    color: white;
}

::ng-deep .pip-main-sm .main-sm {
    background: black;
    color: white;
}

::ng-deep .pip-main-md .main-md {
    background: black;
    color: white;
}

::ng-deep .pip-main-lg .main-lg {
    background: black;
    color: white;
}

::ng-deep .pip-main-xl .main-xl {
    background: black;
    color: white;
}

::ng-deep .pip-main-lt-xl .main-lt-xl {
    background: black;
    color: white;
}

::ng-deep .pip-main-lt-lg .main-lt-lg {
    background: black;
    color: white;
}

::ng-deep .pip-main-lt-md .main-lt-md {
    background: black;
    color: white;
}

::ng-deep .pip-main-lt-sm .main-lt-sm {
    background: black;
    color: white;
}

::ng-deep .pip-main-gt-xs .main-gt-xs {
    background: black;
    color: white;
}

::ng-deep .pip-main-gt-sm .main-gt-sm {
    background: black;
    color: white;
}

::ng-deep .pip-main-gt-md .main-gt-md {
    background: black;
    color: white;
}

::ng-deep .pip-main-gt-lg .main-gt-lg {
    background: black;
    color: white;
}

div :not(.main-div) {
  font-family: Roboto;
  padding: 8px;
}

// Try

.pip-list {
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
    //width: 100%;
    //overflow-y: auto;

    .pip-list-item {
        height: 80px;
        transition: all 0.35s ease;
        padding: 16px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        background: rgb(250, 250, 250) !important;
        overflow: hidden;
        &.opened {
            margin-left: -20px;
            margin-top: 24px;
            margin-bottom: 24px; 
            height: 300px;
            max-height: 100%;
            width: calc(100% + 10px);
        }
    }
}