.pip-mobile-aux {
    overflow: hidden !important;

    [type=aux] {
        padding: 0 !important;
        height: 100%;
    }

    .pip-aux-title {
        overflow: hidden !important;
    }

    .pip-aux-content {
        overflow-y: auto !important;
    }
}