<mat-toolbar color="primary">{{ 'PAGE.MQ.TITLE' | translate }}</mat-toolbar>
<div class="content-wrapper">
  <pip-shadow visible="true" attachmentSide="top"></pip-shadow>
  <pip-shadow visible="true" attachmentSide="left"></pip-shadow>
  <pip-shadow visible="true" attachmentSide="right"></pip-shadow>
  <div class="content">
    <div class="mat-card-subtitle">{{ 'PAGE.MQ.TIP' | translate }}</div>
    <h3>{{ 'PAGE.MQ.DOCUMENT' | translate }}</h3>
    <mat-grid-list cols="5" rowHeight="64px">
      <mat-grid-tile *ngFor="let tile of tilesDocument" [colspan]="tile.cols"
        [ngClass]="{'active': fxMedia.isActive(tile.alias)}" [style.background]="tile.color">
        {{ tile.text }}
      </mat-grid-tile>
    </mat-grid-list>
    <h3>{{ 'PAGE.MQ.MAIN' | translate }}</h3>
    <mat-grid-list cols="5" rowHeight="64px">
      <mat-grid-tile *ngFor="let tile of tilesMain" [colspan]="tile.cols"
        [ngClass]="{'active': media.isMainActive(tile.alias)}" [style.background]="tile.color">
        {{ tile.text }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>