@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();

@mixin rightnav-mixin($theme) {
    $foreground: map-get($theme, foreground);
    .pip-rightnav {
        border-left: 1px solid mat-color($foreground, divider) !important;
    }
    mat-sidenav.pip-sidenav {
        border-right: 1px solid mat-color($foreground, divider) !important;
    }
}

.unicorn-dark-theme {
    @include rightnav-mixin($dark-theme);
}

.candy-theme {
    @include rightnav-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include rightnav-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include rightnav-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include rightnav-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include rightnav-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include rightnav-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include rightnav-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include rightnav-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include rightnav-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include rightnav-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include rightnav-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include rightnav-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include rightnav-mixin($bootbarn-mono-theme);
}

.pip-rightnav {
    overflow: hidden !important;
    pip-rightnav-floating,
    pip-rightnav-fixed {
        padding: 0 !important;
        height: 100%;
    }
    .pip-rightnav-title {
        overflow: hidden !important;
    }
    .pip-rightnav-content {
        overflow-y: auto !important;
        overflow-x: hidden;
    }
}