.pip-rightnav {
    overflow: hidden !important;

    pip-rightnav-floating, pip-rightnav-fixed {
        padding: 0 !important;
        height: 100%;
    }

    .pip-rightnav-title {
        overflow: hidden !important;
    }

    .pip-rightnav-content {
        overflow-y: auto !important;
        overflow-x: hidden;
    }
}