.pip-xs, .pip-sm, .pip-md {
    .pip-document {
        position: absolute !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        width: 100% !important;
        height: 100% !important;
        box-shadow: none !important;
    }
}