/* Import or define your theme-based mixins */
@import '../dist/pip-webui2-layouts/styles';
@import './app/app.component.mixin';

@mixin application-mixin($theme) {
    $primary: map-get($theme, primary);

    .primary-text {
        color: mat-color($primary);
    }

    .primary-background {
        background-color: mat-color($primary);
        color: mat-color($primary, 'default-contrast');
    }
}

/* And call them! */
@include application-mixin($theme);
@include pip-webui2-layouts-mixin($theme);
@include pip-webui2-layouts-app-mixin($theme);
