.content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

::ng-deep main-layout-example, ::ng-deep document-layout-example, ::ng-deep tiles-layout-example, ::ng-deep main-menu-layout-example {
    flex: 1 1 100%;
}