<pip-root>
  <pip-sidenav-floating style="height: 100%">
    <!--examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event)">
    </examples-list-->
    <pip-nav-menu></pip-nav-menu>
  </pip-sidenav-floating>
  <pip-rightnav-floating style="font-family: Roboto; padding: 8px" fxLayout="column">
    <mat-toolbar fxLayout="row" class="pip-rightnav-title" color="accent">
      <h2 style="margin: 0px">Tigers</h2>
      <div fxFlex="grow"></div>
      <button style="position: absolute; top: 0; right: 0" mat-icon-button (click)="onInfoClick()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>
    <div class="pip-rightnav-content" fxFlex="grow" style="padding: 8px">
      <img src="http://s4.thingpic.com/images/pQ/NnndmJd4bex6qPpZAzMJ9mPG.jpeg" width="100%" alt="">
      <div style="margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <img style="margin-top: 8px" src="http://www.pavelin.ru/images/stories/tigryata/tigryata_01.jpg" width="100%" alt="">
      <div style="margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <img style="margin-top: 8px" src="http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other%20Explore%20Photos/R-Z/Wacky%20Weekend/Wild%20Cats/ww-wild-cats-tiger.adapt.945.1.jpg"
        width="100%" alt="">
      <div style="margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <img style="margin-top: 8px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw6KNcvzNDdDw32Y7Kvnc7zwP6tqwuFLEVJmjsyhQD-X7ls-Z5"
        width="100%" alt="">
      <div style="margin-top: 8px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </pip-rightnav-floating>
  <pip-root-content>
    <pip-appbar [ngSwitch]="showIcon$ | async">
      <!--button mat-icon-button class="app-icon" (click)="onMenuClick()" *ngSwitchCase="'menu'">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="app-icon" *ngSwitchCase="'app'">
        <mat-icon>view_carousel</mat-icon>
      </button>
      <button mat-icon-button class="app-icon" (click)="onBackClick()" *ngSwitchCase="'back'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <p>Layouts</p>
      <div fxFlex="grow"></div>
      <button mat-icon-button (click)="onInfoClick()">
        <mat-icon>info</mat-icon>
      </button-->
      <pip-nav-icon> </pip-nav-icon>
      <pip-breadcrumb> </pip-breadcrumb>
      <div fxFlex="grow"></div>
      <pip-primary-actions> </pip-primary-actions>
    </pip-appbar>
    <pip-main fxFlex="grow" pipContainer=".content">
      <pip-sidenav-fixed style="height: 100%">
        <pip-sidenav-toggle></pip-sidenav-toggle>
        <!--examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event)">
        </examples-list-->
        <pip-nav-menu></pip-nav-menu>
      </pip-sidenav-fixed>
      <pip-main-content>
        <router-outlet></router-outlet>
      </pip-main-content>
    </pip-main>
  </pip-root-content>
</pip-root>