<div fxLayout="column" class="content" id="content-id">
  <pip-mobile-sidenav>
    <div type="nav" style="height: 100%">
      <examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event)">
      </examples-list>
    </div>
    <div type="body" fxFlexFill>
      <pip-appbar [ngSwitch]="showIcon$ | async">
        <button mat-icon-button (click)="onMenuClick()" *ngSwitchCase="true">
            <mat-icon>{{ icon$ | async }}</mat-icon>
        </button>
        <button mat-icon-button (click)="onMenuClick()" *ngSwitchCase="false">
            <mat-icon>lightbulb_outline</mat-icon>
        </button> {{ list[this.listIndex].name }}
        <div fxFlex="grow"></div>
        <button mat-icon-button (click)="onInfoClick()">
            <mat-icon>info</mat-icon>
        </button>
      </pip-appbar>
      <pip-content>
        <pip-main fxFlex="grow">
          <pip-sidenav>
            <div type="nav" style="height: 100%">
              <examples-list [list]="list" [selectedItemIndex]="listIndex" (selectedItemIndexChange)="onListItemIndexChanged($event)">
              </examples-list>
            </div>
            <div type="body" fxFlex="grow" fxLayout="row" style="overflow: auto">
              <router-outlet></router-outlet>
            </div>
          </pip-sidenav>
        </pip-main>
      </pip-content>
    </div>
  </pip-mobile-sidenav>
</div>
